#container {
  padding: 15px 0 0 15px;
}

#information {
  margin-bottom: 15px;
  padding: 15px 0 15px 15px;
  background-color: #d5d9e7;
}

#title {
  font-size: 24px;
  margin-bottom: 10px;
}

#contact {
  margin-bottom: 5px;
}

form {
  margin: 0 15px 15px 0;
  padding: 15px 0 15px 15px;
  border-radius: 2.5px;
  background-color: #d5d9e7;
}

form > input {
  display: block;
  margin-bottom: 5px;
  border-radius: 1px;
}

form > button {
  display: block;
  background: #414d79;
  border: none;
  color: #d5d9e7;
  padding: 5px;
  border-radius: 1.5px;
}

#delete {
  background: #b11a1a;
  border: none;
  color: #d5d9e7;
  padding: 5px;
  border-radius: 1.5px;
}